body.colors  { 
    color: #E7E7E5; 
    color: #e7eff0;
    color: #C8E1E5;
    color: #B7D0D0;
    color: #82C0CC;
    color: #458A93;
    color: #16697A;
    color: #1C474D;
    color: #23679A;
    color: #0e2629;

    color: #c4dde1;
    color: #a4bdc1;
    color: #8ca5a8;
    color: #5b7377;
    color: #455d61;
    color: #3d5558;
    color: #122a2d;

    color: #A9D6E5;
    color: #89C2D9;
    color: #61A5C2;
    color: #2C7DA0;
    color: #2A6F97;
    color: #23679A;
    color: #013A63;
 /* scatterplot colors */
    color: #122a2d;
    color: #455d61;
    color: #16697A;
    color: #23679A;
    color: #758dc5;
    color: #6251b2;
    color: #792767;
    color: #520122; 
    color: #cb3070; 
    color: #2f2461;
}
body {
  font-family: 'Inria Serif', serif;
  padding: 1em 3em;
  background-color: #e7eff0;

}
/* INTRO CONTAINER */

#intro-content {
    /* background-color: #16697A; */
    background-color: #1C474D;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
}
#intro-text {
    font-family: 'IBM Plex Sans';
    /* background-color:#16697A; */
    background-color: #1C474D;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#intro-title {
   
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    /* color: white; */
    color: #e7eff0;
    padding: 10% 0% 5% 0%;
}

#intro-subtitle {
    font-family: 'IBM Plex Serif';
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #e7eff0;
    padding: 5% 0% 0% 0%;
}

#intro-subtext {
    font-size: 16px;
    color: #82C0CC;
    padding: 3% 0% 0% 0%;
}
h1 {
    font-family: Bold;
    font-weight: 900;
    color: #E8E9E9;
    font-size: 75px;
    /* line-height: 0.2; */
    /* padding-left: 15%; */
  }
  /* move to map container */
  div.tooltip {	
    position: absolute;			
    text-align: left;			
    max-width: 200px;					
    max-height: 200px;
    padding: 10px;			
    font: 12px;		
    background-color:  #1C474D;
    color: white;	
    pointer-events: none;			
}
/* MAP CONTAINER */
#map-content {
   
    display: grid;
    grid-template-columns: 5fr 3fr;
    column-gap: 3%;

    width: 90vw;
    height: 70vh;
}
#map-container{
   /* width: 80%; */
    /* position: float; */
    /* display: grid; */
    /* grid-template-columns: 2fr 4fr 4fr; */
    /* grid-area: 1/3/2/4; }*/
}
#map-article {
  /* background-color: #B7D0D0;; */
    font-size: 20px;
    text-align: left;
    /* padding: 5% 5% 5% 5%; */
}
#map-title {
    text-align: center;
    font-family: 'IBM Plex Serif';
    font-size: 22px;
    font-weight: 700;
    padding: 5% 0% 0% 0%; }

  /* path.state {
    stroke: black;
  } */
  path.state:hover {
    stroke-width: 2px;
    fill: #A48894;
  }
/* LINECHART CONTENT */

#linechart-content {
   
    display: grid;
    grid-template-columns: 5fr 3fr;
    column-gap: 3%;
}
#linechart-title{
    text-align: center;
    font-family: 'IBM Plex Serif';
    font-size: 22px;
    font-weight: 700;
    padding: 5% 0% 0% 0%; 
}
#linechart-text{
    font-size: 20px;
    text-align: left;
}
  /* HEATMAP CONTENT */
  #heatmap-content{
    display: grid;
    grid-template-columns: 5fr 3fr;
    column-gap: 3%;
    width: 90vw;
    height: 70vh;
  }
  #heatmap-title{
  text-align: center;
    font-family: 'IBM Plex Serif';
    font-size: 22px;
    font-weight: 700;
    padding: 5% 0% 0% 0%; 
}
#heatmap-text{
    font-size: 20px;
    text-align: left;
}
/* BARCHART CONTENT */
#barchart-content{
    display: grid;
    grid-template-columns: 5fr 3fr;
    /* column-gap: 3%; */
}
#barchart-title {
    text-align: center;
    font-family: 'IBM Plex Serif';
    font-size: 22px;
    font-weight: 700;
    padding: 5% 0% 0% 0%; }

#barchart-text{
          font-size: 20px;
          text-align: left;
}