/* TO DO LIST */

/* add a. style for links */
/* add padding to the subtext  -- DONE */
/* change transition to map colors*/
/* translate heatmap into percentage*/

/* replace question mark in bacherols degree everywhere */
/* check why INPUT is not black  -- DONE*/

/* QUESTIONS */

/* why grids are overwriting itself when data is changed */
/* why grids are in front of rects */

/* //////////////////// GET RID OF ? MARK IN BACHEROLS DEGREE */
/* CHECK FIRST  */
/* how to get to  multiple values through groped data */
/* MAYBE GROUP IT THROUGH NONCOFN */

/* If i need change current Data to data1 data2 data3 */
/* Transitions are not working */

/* add text to rects in barchart - inside the rect */

/* maybe add dates and/ or explanation of articles */


/* COLOR PALETTE */


/* BODY */

body {
  font-family: 'Inria Serif', serif;
  /* padding: 1em 3em; */
  background-color: #e7eff0;
  width: 100%;
  margin: 0%;
}
h1 {
  font-family: Bold;
  font-weight: 900;
  color: #E8E9E9;
  font-size: 75px;
  /* line-height: 0.2; */
  /* padding-left: 15%; */
}

div.tooltip {	
  position: absolute;			
  text-align: left;			
  max-width: 200px;					
  max-height: 200px;
  padding: 10px;			
  font: 12px;		
  /* background-color:  #1C474D; 
   color: white;	 */
  pointer-events: none;	
  background-color:   white; 
  color:#1C474D;	
  /* color: black; */
  border-color: black;
  /* border-width: 1px; */
  border-style: solid;
  border-width: thin;	
  line-height: 1.2;	
}
#images{
  display: grid;
  grid-template-columns: 4fr 4fr;
  width: 100vw;
}

img {
  width: 100%;
} 

/* INTRO wrappers */
#w-title{
  background-color: #1C474D;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#intro-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  color: #e7eff0;
  padding: 10% 0% 5% 0%;
}

#w-subtitle{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: #1C474D;
  position: sticky;
  top: 0px;
  z-index: 100;
}

#intro-subtitle {
  font-family: 'IBM Plex Serif';
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #e7eff0;
  padding: 2% 0% 2% 0%;
  background-color: #1C474D;
  position: sticky;
  top: 0 rem;
  text-align: center;
}

#w-subtext{
  background-color: #1C474D;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

#intro-subtext {
  font-family: 'IBM Plex Sans';
  font-size: 18px;
  color: #82C0CC;
  background-color: #1C474D;
  padding: 3% 3% 3% 0%;
  text-align: center;
}

/* HEATMAP CONTENT */

#heatmap-content{
  /* display: grid;
  grid-template-columns: 5fr 4fr;
  column-gap: 3%; */
  width: 100vw;
  /* height: 70vh; */
}
#heatmap-title{
  text-align: center;
  font-family: 'IBM Plex Serif';
  font-size: 22px;
  font-weight: 700;
  /* padding: 5% 0% 0% 0%;  */
  line-height: 1.6;
}
#heatmap{
  display: grid;
  grid-template-columns: 1fr 10fr 2fr;
}

#note{
  /* width: 90vw; */
  height: 10vh;
  font-size: 12px;
  text-align: left;
  display: grid;
  grid-template-columns: 3fr 10fr 2.5fr;
}
.axis.x-axis {
  font-size: 12; 
  color: black;
  position: 2em;
}
/* color doesn't work!!! */
.rect:hover {
  stroke: black;
  stroke-width: 2px;
  fill: #A48894;
} 
.bars:hover {
  stroke: black;
  stroke-width: 3px;
  opacity: 1;
 
} 
/* .bars{
  z-index: 100;
} */
.circle:hover{
opacity: 1;
stroke-width: 2px;
}
/* MAP CONTENT */

#map-content {
  display: grid;
  grid-template-columns: 1fr 5fr 4fr 1fr;
  column-gap: 3%;
  /* width: 90vw; */
  /* height: 60vh; */
}

#map-title {
  text-align: center;
  font-family: 'IBM Plex Serif';
  font-size: 22px;
  font-weight: 700;
  padding: 5% 0% 0% 0%; 
}
#map-container{
  grid-area: 'map-container'
}
/* #barchart-container */

.grid {
  color:#1C474D;
  /* z-index: 0; */
  /* opacity: 0.2; */
}

/* background-color: #B7D0D0;; 
  font-size: 20px;
  text-align: left;
  /* padding: 5% 5% 5% 5%; 
  line-height: 1.4;
  grid-area: 'map-article'
} */
input {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid black;
}

path.state:hover {
  stroke-width: 2px;
  fill: #A48894;
}

.text {
  font-size: 20px;
  text-align: left;
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
  line-height: 1.4;
  }
#third-article{
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
}
/* SCATTERPLOT CONTENT */
#scatterplot-content{
display: grid;
grid-template-columns: 0.5fr 10fr 0.5fr;

column-gap: 3%;
grid-area: 'barchart';
}
#scatterplot-title {
text-align: center;
font-family: 'IBM Plex Serif';
font-size: 22px;
font-weight: 700;
padding: 5% 0% 0% 0%; }

#scatterplot-text{
font-size: 20px;
text-align: left;

line-height: 1.4;
}

@media only screen and (max-width:700px) {
#map-content{
  grid-template-columns: 1fr;
  padding: 1em 3em;
  grid-template-areas: 
  'map-container'
  'barchart-container';
}
/* #barchart-content{
  grid-template-columns: 1fr;
   padding: 1em 3em;
  grid-template-areas: 
  'barchart-container'
  'barchart-article';
} */
}